.outside-div {
  height: 100vh;
  width: 100%;
  background-color: lavender;
}

.welcome-span {
  height: 100%;
  width: 50%;
}

.image-dim {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  margin-top: 5%;
}

.hi-text {
  height: 30%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.welcome-text {
  font-size: 200%;
  padding-left: 8%;
  margin-top: -5%;
}

.search-div {
  width: 70%;
}

.graph-div {
  height: 500px;
  width: 500px;
  margin-top: 2%;
  margin-left: 5%;
  padding-bottom: 2%;
}
.card-img-size {
  height: 30%;
}

.card-span {
  height: 100%;
  width: 20%;
}

.card-div {
  width: 18rem;
  border-radius: 20px 20px;
  background-color: lavender;
  margin: 10px 10px 0px 10px;
  cursor: pointer;
}

.card-div1 {
  height: 300px;
  width: 18rem;
  border-radius: 20px 20px;
  background-color: lavender;
  margin: 10px 10px 0px 10px;
  cursor: pointer;
}

.img-size {
  height: 200px;
}

.side-span-card {
  width: 18rem;
  height: 97%;
  border-radius: 15px;
}

.scroll-div {
  overflow: auto;
  height: 500px;
}
